[submodule "frontend"]
	path = frontend
	url = https://github.com/fossasia/open-event-frontend.git
[submodule "server"]
	path = server
        url = https://github.com/yitzikc/open-event-server.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/yitzikc/nginx-certbot.git
